/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Sep-2021, 5:12:02 PM
    Author     : Rohit
*/
body{
   
}
.primary-background{
    background:#3d5afe!important;
}
    .primary-background2{
    background:#bfbfbf!important;
}
.primary-background3{
    background:#4f4e4d!important;
}
